<div *ngFor="let user of Users">
  <ul>
    <li *ngIf="user.age > 20">
      {{ user.firstname }} {{ user.lastname }} is {{ user.age }} years old
    </li>
  </ul>
</div>

<hr>

<h1>Date is passed from App.component to User.component</h1>
<div *ngFor="let user of Users2">
  <div>
    <app-user [inputData]="user"></app-user>
  </div>
</div>
<hr>

<h1>Date is passed from User.component to App.component</h1>
<app-user (inputDataChange)="onInputDataChange($event)"></app-user>
<div *ngFor="let user of Users3">
  <div>
    <p>First Name: {{ user.Id }}</p>
    <p>First Name: {{ user.Firstname }}</p>
    <p>Last Name: {{ user.Lastname }}</p>
    <p>Date of Birth: {{ user.DateOfBirth }}</p>
    <p>Phone Number: {{ user.PhoneNumber }}</p>
    <p>Email: {{ user.Email}}</p>
  </div>
</div>

<hr>
<h1>Reactive Form</h1>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>ID:</label>
    <input type="text" formControlName="Id">
    <small *ngIf="this.form.get('Id').invalid && this.form.get('Id').touched ">*It is required</small>
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" formControlName="Firstname">
    <small *ngIf="this.form.get('Firstname').invalid && this.form.get('Firstname').touched ">*It is required</small>
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" formControlName="Lastname">
    <small *ngIf="this.form.get('Lastname').invalid && this.form.get('Lastname').touched ">*It is required</small>

  </div>

  <div>
    <label>Date of Birth:</label>
    <input type="date" formControlName="DateOfBirth">
    <small *ngIf="this.form.get('DateOfBirth').invalid && this.form.get('DateOfBirth').touched ">*It is required</small>

  </div>

  <div>
    <label>Phone:</label>
    <input type="tel" formControlName="PhoneNumber">
    <small *ngIf="this.form.get('PhoneNumber').invalid && this.form.get('PhoneNumber').touched ">*It is required</small>
  </div>

  <div>
    <label>Email:</label>
    <input type="tel" formControlName="Email">
    <small *ngIf="this.form.get('Email').invalid && this.form.get('Email').touched ">*It is required</small>
  </div>

  <button type="submit">Submit</button>
</form>